<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Webhook" value="https://discord.com/api/webhooks/965222100891758602/oCEfbD8GAGjc1WfIECfi7fTn3GOoZQKFoG0gZhWhX6fqwwhKhHkT-GdfFtgoTawXXTPZ" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
